*{
    margin: 0;
}
.one{

}
.two{
    float: right;
    position: fixed;
    top: 0%;
    right: 0%;
}
img{
    position: fixed;
    right: 47%;
    top: 0%;
    width: 80px;
}
p{
    position: fixed;
    bottom: 10%;
    right: 42%;
    top: 18%;
}
.navebar{
    position: fixed;
    bottom: 73%;
    right: 20%;
    border: 2px solid black;
}
